
  @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

  $black: #212529;
  $white: #ffffff;
  
  $col1: #9f1414;
  $col2: #dc3545;
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  @mixin flex($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
  }
  nav{
      height: 8em;
  ul {
    list-style-type: none;
  
    li {
      position: relative;
      margin: 0.25em;
      text-align: center;
  
      a {
        display: block;
        text-decoration: none;
        color: darken($black, 15%);
        border-radius: 0.35em;
        margin-left: 2em;
        background-color: rgba($white, 0.25);
        transition: all 200ms ease;
  
        &:hover {
          color: $col2;
          text-decoration: #212529;
        }
  
        &.active {
          color: $col2;
        }
      }
  
      ul {
        li {
          a {
            background-color: transparent;
          }
        }
      }
    }
  
    &#Header {
      @include flex($ai: flex-start);
    }
  }
}
  
  .dropdown {
    position: absolute;
    left: 50%;
    transform: translatex(-90%) ;
    margin-top: 0.55em;
    transform-origin: 0 0;
    border-radius: 0.35em;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms linear;
  
    &.isOpen {
      transform: translatex(-90%);
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  
  
  
  
  
  
  
  body {
    position: relative;
    min-height: 100vh;
    font: {
      family: "Raleway", sans-serif;
      size: 16px;
      weight: 500;
    }
    line-height: 1.5;
    @include flex($ai: flex-start);
    color: black;
    background-position: 0 0, 5px 5px;
    background-size: 5px 5px;
    

  }
  
  